<!DOCTYPE html>
<html>
  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/javascripts/jquery.flip.js"></script>
  <% include partials/template/head.ejs %></head>
  <body class="<%= page %>">
    <% include partials/template/header.ejs %>
    <section class="layout">
      <div class="primary">
        <% include partials/content/backpacklist.ejs %>
        <% include partials/content/categorylist.ejs %>
      </div><!-- primary -->
    </section><!-- layout -->
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
