<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>
  	<section class="layout">
  		<div class= "primary">
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus culpa doloremque vel, natus similique quod cumque in alias praesentium ea debitis ad quis tenetur blanditiis nam accusamus pariatur soluta, aspernatur?
  		</div>
  		<div class = "secondary">
  			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolore ab cumque nemo, possimus ipsa autem delectus culpa, ipsum itaque hic temporibus voluptate. Rerum necessitatibus laborum, neque libero aliquam ipsa?
  		</div>
  	</section>
    <% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
