<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class= "<%=page%>">
  	<% include partials/template/header.ejs %>
    <% include partials/content/backpacklist.ejs %>
  	
    <section class="layout">
  		<div class= "primary">
  			<% include partials/content/about.ejs %>
        <% include partials/content/howto.ejs %>
        <% include partials/content/aboutme.ejs %>
  		</div>
  	</section>
    <% include partials/template/footer.ejs %>
	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>
