<header>
	<div class = "hero">
		<section class="layout">
			<div class="branding">
				<a href = '/'>
					<img src = "/images/main2.jpg">
				</a>
			</div><!--branding-->
		</section> <!--layout-->
	</div> <!--hero-->

	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href = "/"><i class="icon-home"></i>Home</a></li>
				<li><a href = "/backpack"><i class="icon-book"></i>Backpack</a></li>
			</ul>
		</section>
	</div>
</header>