<article id="whoarewe">
  <h1>About</h1>
    <p>An application to study a variaty of topics on the go. Each category has is limited to 10 cards, so it is perfect for those times when you are on the subway, waiting in line, or just passing time.</p>
</article><!-- article -->