<article class="artworklist">
	<h1>Cards</h1>
    <% if (front.length > 0) { %>
      <% for (i=1; i<front.length; i++) { %>
        <div id="card"> 
		  <div class="front"> 
		    <%= front[i] %>
		  </div> 
		  <div class="back">
		    <%= back[i] %>
		  </div> 
		</div>
      <% } %>
    <% } %>

<script>
$(function($) {
  $("#card").flip(); 
});
</script>
</article>