<article id="howto">
  <h1>How to Use</h1>
  <p>Click into the backpack button on the navbar. There you can find a variety of categories with a short description. Click on the title to see the first card. In order to see the answers or definitions, click on the card. To move on to the next card press the spacebar. Once you've reached the end restart or check out another category. </p>
</article><!-- article -->