<article id="howto">
  <h1>How to Use</h1>
  <p>Click into the backpack button on the navbar. There you can a variety of categories with a short description of that category. Click on the title to see the list of cards. In order to see the answers or definitions, click on the card. </p>
</article><!-- article -->